.program-page {
    padding: 40px;
    background-color: #f9f9f9;
  }
  
  .program-title {
    font-size: 3em;
    color: #003b73;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  h2 {
    color: #003b73;
    font-size: 1.8em;
    margin-top: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  ul li {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .contact-info {
    font-size: 1.2em;
    color: #555;
  }
  
  .contact-info strong {
    color: #003b73;
  }
  